
.gradient
  background: linear-gradient(180deg, rgba(154,76,188,1) 0%, rgba(93,76,188,1) 100%)
.table-title
  background-color: #E4E0FF
  align-content: top
  justify-content: top
.td
  vertical-align: top
.color-palido
  background-color: #F3F9FF
.contenedor
  .hr
    width: 70%
  .recuadro
    &_imagen
      display: flex
      img 
        width: 80px
.encabezado
  &-claro
    background-color: #E4E0FF
  &-oscuro
    background-color: #CAC3F5
  &-morado
    background-color: #9A4CBC
    color: $white
    border-top: none
    text-align: center
  &-gris-noborde
    background-color:#F6F6F6
    border: none
    td
      border: none
  &-gris-claro
    background-color: #E8E8E8
    text-align: center
    &-nocenter
      background-color: #E8E8E8
      text-align: left

  &-gris-oscuro
    background-color: #CECECE
    text-align: center
  &-azul-claro
    background-color: #F3F9FF
.border-radius
  border-radius: 0px
